# Системні файли Python
__pycache__/
*.py[cod]
*$py.class

# Віртуальні середовища
venv/
env/
.env

# Файли налаштувань VS Code
.vscode/

# Системні файли ОС
.DS_Store
Thumbs.db

.coverage
htmlcov/
__pycache__/
*.pyc